@font-face {
    font-family: "ShudderFont";
    src: url(../shudderfonts/FuturaLTBook.ttf) format("truetype");
}

@font-face {
    font-family: "ShudderFontBold";
    src: url(../shudderfonts/FuturaLTBold.ttf) format("truetype");
}


body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.main-body {
	background-color: rgb(38, 0, 38); 
	height:100%;
}

.btn-shudder {
	background-color: rgb(204, 0, 51);
	color: white;
}

.btn-shudder:hover {
	background-color: rgb(38, 0, 38);
	color: white;
}

#logo_image {
	padding-top: 20px;
}

#options_bar {
	padding-top: 15px;
}

.options-btn {
	background-color: white;
}

.options-btn:hover {
	background-color: green;
	cursor: pointer;
}

.main-btns {
	padding-top: 30px;
}

.main-logo {
	padding-top: 15%;
}

#main-screen-logo {
	display: block;
	margin: auto;
	width: 150px;
	height: auto;
}


.bar-container {
	padding-bottom: 5px;
}

.btn-bar {
	height: 46px;
	background-color: rgb(57, 6, 57);
	width: 100%;
	display: table;
}

.input-bar {
	height: 46px;
	background-color: rgb(204, 0, 51);
	width: 100%;
}

.btn-bar:hover {
	background-color: rgb(28,0 , 28);
	cursor: pointer;
}

.btn-text {
	font-family: "ShudderFont";
	font-size: 20px;
	color: rgb(204, 0, 51);
	text-align: center;
	height: auto;
	vertical-align: middle;
	display: table-cell;
}

.textbox {
	border: none;
	outline:0;
	background: transparent;
	text-align: center;
	margin: auto;
	height: 100%;
	color: white;
	font-family: "ShudderFont";
	font-size: 20px;
	display: block;
	vertical-align: middle;
	width: 250px;
}
.textbox::selection {
  background: red;
}
.search-textbox {
	border: none;
	outline:0;
	background: transparent;
	text-align: left;
	height: 100%;
	width: auto;
	color: white;
	font-family: "ShudderFont";
	font-size: 15px;
	display: block;
}


#wrapper {
    min-height:100%;
    position:relative; 
    display: table; 
    width:100%
}
.top-bar {
    width:100%;
	height: 46px;
	min-height: 46px;
	max-height: 46px;
    margin-top: 0;
    background-color: rgb(57, 6, 57);
    display: table-row;
/*	width: 100%;
	height: 46px;
	background-color: rgb(57, 6, 57);
	margin-top: 0;
	display: table-row;*/
}

.logo-container {
	padding-top: 15px;
	padding-left: 14px;
	float: left;
}

.actions-container-right {
	padding-top: 15px;
	padding-right: 14px;
}

.actions-container-right img{
	width: 23px;
}

#top-bar-logo {
	width: 75px;
}

.bottom-container {
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
    bottom:0;
    left:0;
	height: 132px;
	max-height: 132px;
	min-height: 132px;
	background-color: rgb(57, 6, 57);
    display: table-row;	
}



.player-actions {
	padding-left: 48px;
	margin-top: 20px;
	float: left;
}

.player-volume {
	margin-top: 15px;
}

.player-volume img {
	height: 23px;
	margin-right: 7px;
}

#back-btn, #next-btn, #stop-btn, #play-btn {
	height: 23px;
	margin-right: 7px;
	cursor: pointer;
}

.player-song-bar {
	margin-right: 48px;
	float: right;
	margin-top: 20px;
}

.elapsed-time {
	float: left;
}

.remaining-time {
	float: right;
}

.elapsed-time p, .remaining-time p {
	font-family: "ShudderFont";
	font-size: 15px;
	color: rgb(204, 0, 51);
	text-align: center;
}

.song-slider {
	margin-top: 10px;
	margin-left: 7px;
	margin-right: 7px;
	width: 335px;
	float: left;
}

.volume-image-container {
	float: left;
}

.volume-slider {
	margin-top: 10px;
	float: left;
	width: 83px;
}

input[type=range] {
  -webkit-appearance: none;
  
}

.song-name p {
	font-family: "ShudderFont";
	font-size: 15px;
	color: white;
	text-align: center;
	width: 100%;
}

.tab-wrapper {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 25px;
	padding-top: 7px;
}

.tab-wrapper div {
    display: table-cell;
    height:30px;
}

.tab-content {
	/*padding-top: 80px;*/
    width:100%;
}


.active-tab {
	background-color: rgb(57, 6, 57) !important;
}

.library-tab {
	font-family: "ShudderFont";
	font-size: 15px;
	padding-top: 5px;
    text-align: center;
    background-color: rgb(38, 0, 38);
    color: rgb(204, 0, 51);
}

.library-tab:hover {
	cursor: pointer;
    background-color: rgb(28, 0, 28);
}

.playlist-tab:hover {
	cursor: pointer;
    background-color: rgb(28, 0, 28);
}

.playlist-tab {
	font-family: "ShudderFont";
	font-size: 15px;
	background-color: rgb(38, 0, 38);
	text-align: center;
	color: rgb(204, 0, 51);
}


.list-group {
	overflow-y:scroll;
	margin-top: 5px;
	display: none;
}

.search-bar-container {
	margin-top: -7px;
	float: left;
	width: auto;
}

.search-input-bar {
	height: 20px;
	width: 100%;
}

.search-bar {
	background-color: rgb(38,0,38);
	width: 100%;
	height: 37px;
	display: none;
}

.checkboxes {
	margin-left: 48px;
}
.checkboxes div {
	margin-right: 45px;
}

#artist-checkbox {
	cursor: pointer;
	margin-left: 15px;
	color: rgb(204, 0, 51);
	width: 11px;
	height: 11px;
	background: rgb(57, 6 , 57);
	float: left;
}

#artist-checkbox p {
	margin-left: 20px;
	margin-top: -5px;
}

#title-checkbox {
	cursor: pointer;
	margin-left: 15px;
	color: rgb(204, 0, 51);
	width: 11px;
	height: 11px;
	background: rgb(57, 6 , 57);
	float: left;
}

#title-checkbox p {
	margin-left: 20px;
	margin-top: -5px;
}




input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:11px; width:11px; margin:-1px; padding:0; border:0;
}

.checkboxes {
	margin-left: 48px;
	padding-top: 10px;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:18px;
	height:13px; 
	display:inline-block;
	line-height:13px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
	font-family: "ShudderFont";
	font-size: 15px;
	text-align: center;
	color: rgb(204, 0, 51);	
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -13;
}

label.css-label {
	/*background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_2726b0ccc2c1e15d6fc83b3acd296787.png);*/
	background: rgb(0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*body {
	overflow: hidden;
}*/
/*body::-webkit-scrollbar { width: 0 !important }*/

a.list-group-item img {
	height: 15px;
	margin-right: 15px;
	border-radius: none !important;
}

a.list-group-item {
	cursor: pointer;
	background-color: rgb(57, 6, 57);
	font-family: "ShudderFont";
	font-size: 15px;
    color: rgb(204, 0, 51);
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border: none !important;
}

a.list-group-item:hover {
    background-color: rgb(28, 0, 28);
    color: rgb(204, 0, 51);
    border: none !important;
}

.main-wrapper {
	min-height: 100%;
	position: relative;
	display: table;
	width: 100%;
}

.body-content {
	width: 100%;

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 4px;
  background: rgb(204, 0 , 51);
  cursor: pointer;
  margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-moz-range-thumb {
  height: 12px;
  width: 4px;
  border-radius: 3px;
  background: rgb(204, 0 , 51);;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgb(38, 0 , 38), 0px 0px 1px rgb(38, 0 , 38);
  background: rgb(38, 0 , 38);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(38, 0 , 38);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: rgb(38, 0 , 38);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgb(38, 0 , 38);
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(204, 0 , 51);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.check-box {
	width: 40px;
	height: 40px;
	float: left;
	/*background-color: rgb(204, 0 , 51);*/
	margin-left: -40px;
}

.check-box img{
	display: block;
	margin: auto auto;
}

.active-content {
	display: block;
}