html, body {
	background-color: rgb(57, 6, 57);
	overflow-x: hidden;

}

.row {
	/*margin-bottom: 20%;*/
	/*display: none;*/
}

.ease-transition {
	-webkit-transition: -webkit-transform 0.05s;
}

.container {
	/*background-color: blue;*/
}

img {
	margin: 0 auto;
	display: block;
}

#local {
	overflow: hidden;
	/*background-color: yellow;*/
}

#logo{
	display: block;
	/*background-color: blue;*/

}

#happiness{
	display: block;
	/*background-color: green;*/

}