div#wrapper
	div.top-bar
		div#loading-bar
		div(class="logo-container" align="left")
			img(id="top-bar-logo" src="assets/images/logo_shudder.png")

		div(class="actions-container-right" align="right")
			img(id="folder-selector" src="assets/images/ic_folder.png")

		div.tab-wrapper
			div.library-tab Library
			div.playlist-tab Playlist

		div.search-bar

			div.checkboxes
				div#back-folder
					img(id="back-folder" src="assets/images/ic_unknown.png")				
				div#artist-checkbox
					p Artist
				div#title-checkbox.checkbox-selected
					p Title
				div(class="search-bar-container")
					div.search-input-bar
						input(type="text" name="query" class="search-textbox" placeholder="Search ..." autofocus)				

	

	div.tab-content
		div#library-list.list-group
		div#playlist-list.list-group
		div#loader-div
			img(src="assets/loaders/svg-loaders/rings.svg")


	div.bottom-container							
		div(class="bottom-gap")
		div(class="player-actions" align="left")
			img(id="back-btn" src="assets/images/ic_back.png")
			img(id="play-btn" src="assets/images/ic_play.png")
			img(id="pause-btn" class="active-btn" src="assets/images/ic_pause.png")
			img(id="stop-btn" src="assets/images/ic_stop.png")
			img(id="next-btn" src="assets/images/ic_next.png")
			div(class="player-volume")
				div.volume-image-container
					img(src="assets/images/ic_volume_up.png")
				div.volume-slider
					input(id="volume-slider" type="range" value="100" min="0" max="100")


		div(class="player-song-bar" align="right")
			div.song-name
				marquee(behavior="scroll" direction="left")
					p#song-name-text

			div.elapsed-time
				p#elapsed-time-text

			div.song-slider
				input(id="slider" type="range" value="0" min="0" max="100")

			div.remaining-time
				p#remaining-time-text

div#error
	div.modal-dialog
		div.modal-title
			h2 Shudder says: It's been an error!
		div.modal-body
			p Invalid username/password combination.
		div.modal-buttons


script(type="text/javascript"  src="assets/js/home_page.js")
script(type="text/javascript" src="assets/js/listeners/FolderListener.js")
script(type="text/javascript" src="assets/js/listeners/PlayerListener.js")
script(type="text/javascript" src="assets/js/listeners/TCPListener.js")
