div.container
	div.row
		div.col-md-4
			img(id="logo_image" src="assets/images/logo_shudder.png")

	div#options_bar.row
		div.col-md-2
			img(src="assets/images/ic_folder.png" class="options-btn")
			img(src="assets/images/ic_unknown.png" class="options-btn")
							