html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="")
    title ShudderProject

    link(href="assets/css/bootstrap.min.css" rel="stylesheet")
    link(href="assets/css/shudder.css" rel="stylesheet")
    link(href="assets/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet")

    link(href="assets/css/sb-admin-2.css" rel="stylesheet")
    link(href="assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")

  body(style="background-color: rgb(57, 6, 57);  background-repeat: no-repeat; background-size:cover; height:100%; overflow:hidden;")

    div.container
      div.row.col-md-4.col-md-offset-4

        div(class="login-panel panel panel-info" style="background: none repeat scroll 0 0 rgba(129, 126, 126, 0.2);")
          .panel-heading
            h3(class="panel-title") Log In
          
          div.panel-body
            div.row
              div(class="col-md-12" style="margin-bottom: 15px;")
                img(src="assets/imgs/icon.png" style="display: block; margin: 0 auto; margin-bottom: 15px;")
                div(class="col-md-12" style="margin-bottom: 15px;")
                  button(id="log-in-shiftscope" class="btn btn-shudder" style="display:block; margin: 0 auto;")
                    i(class="fa fa-user")
                    |  Log In
                div.col-md-12
                  button(id="register" class="btn btn-danger" style="display:block; margin: 0 auto;")
                    |  Register Now!
                      
                  

    script(src="assets/js/jquery-1.11.0.js")
    script(src="assets/js/bootstrap.min.js")
    script(src="assets/js/plugins/metisMenu/metisMenu.min.js")
    script(src="assets/js/sb-admin-2.js")
    script(src="assets/js/main.js")
    script(type="text/javascript" src="assets/js/index.js")


